<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>3d</title>
	<style>
		canvas {
			background-color: #ddd;
		}
	</style>
</head>
<body>
	<canvas id="canvas"></canvas>
	<script type='module' src='../static/js/Main.js'></script>
	<script type='module' src='../static/js/math/Vec.js'></script>
	<script type='module' src='../static/js/math/MRotation.js'></script>
	<script type='module' src='../static/js/math/util.js'></script>
	<script type='module' src='../static/js/Parts.js'></script>
	<script type='module' src='../static/js/Parse.js'></script>
	<script type='module' src='../static/js/obj.js'></script>
	<br>
	<label for='vertices'>Vertices:</label>
	<input type='checkbox' id='vertices'>
	<label for='edges'>Edges:</label>
	<input type='checkbox' id='edges'>
	<label for='faces'>Faces:</label>
	<input type='checkbox' id='faces' checked>
	<br>
	<label for='snorm'>Surface Normals:</label>
	<input type='checkbox' id='snorm'>
	<label for='order'>Order:</label>
	<input type='checkbox' id='order'>
	<br>
	<div id='out'></div>
</body>
</html>